langchain
langchain-core
langchain-community 
pypdf
pymupdf
ipykernel
langchain-google-genai
sentence-transformers  
faiss-cpu
chromadb
ipykernel
pandas
numpy
pymilvus
streamlit
FlagEmbedding
pymilvus[milvus_lite]
huggingface_hub[hf_xet]
jq